

    <!-- Banner Title -->
    <div class="banner-container">
        <div class="banner-img"> <img class="banner-img-width" src="~/Website/images/topbanner.jpg" alt=""> </div>
        <div class="banner-head">
            <div class="banner-head-padding banner-head-margin">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="heading-meta">Events</span>
                            <h2 class="pwe-heading animate-box" data-animate-effect="fadeInLeft">About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us -->
    <div class="about-section pt-0 pb-60">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center">
                <img src="~/Website/images/wedding-planner.jpg" class="img-fluid mb-30 animate-box" data-animate-effect="fadeInLeft" alt="">
                    <h4 class="pwe-about-subheading animate-box" data-animate-effect="fadeInUp">To Know Us is to Love Us!</h4>
                </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h3 class="pwe-about-heading">Event Management System</h3>

                <h4 class="pwe-about-subheading">
                    "Every event is a story, let us make yours extraordinary."
                </h4>

                <p>
                    Welcome to our Online Event Management System your one stop solution for planning and booking unforgettable events with ease. Whether you're organizing a dream wedding, a joyful birthday celebration, a private gathering, or a professional corporate event, we bring your vision to life with perfection.
                </p>

                <p>
                    Our platform allows customers to conveniently book and manage events online, saving time while ensuring a seamless experience. We offer a wide range of customizable packages at amazingly affordable prices, designed to suit every style and budget.
                </p>

                <p>
                    From elegant décor to flawless execution, our expert team is dedicated to making every moment magical. Let us handle the details while you enjoy your special occasion stress-free.
                </p>
            </div>
            </div>
        </div>
    </div>
